@import "../common/styles/sass/variables";

.header {
    height: 80px;
    width: 100%;
    background-color: #252527;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
}