.contactsBlock {
    height: 100vh;
    background-color: #fccde6;
}

.contactsContainer {
    flex-direction: column;
}

.title {
    background-color: aliceblue;
}

.form {
    width: 280px;
    height: 220px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    background-color: #ceced5;
    height: 25px;
}

textarea {
    background-color: #ceced5;

}