.contactsBlock {
    background-color: #fccde6;
}

.contactsContainer {
    flex-direction: column;
}

.title {
    background-color: aliceblue;
}

.form {
    width: 50%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input {
    background-color: #ceced5;
    height: 25px;
}

textarea {
    background-color: #ceced5;
    height: 70px;
}



.form input, .form textarea {
    width: 100%;
}

@media screen and (max-width: 754px){
    .form {
        width: 100%;
    }
}