@import "../../common/styles/sass/mixin";

.navBlock {
  width: 300px;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    @include text($titleFontFamily, 1.8, 16px);
    color: $primaryColor;
    &:hover {
      color: #b0c9ea;
      cursor: pointer;
    }
  }
  .active {
    color: #b0c9ea;
  }
  @media screen and (max-width: 750px){

  }
}