@import "../styles/sass/variables";

.title {
  margin: 0 0 30px;
  font-family: "Josefin Sans", sans-serif;
  color: $textColor;
  text-transform: capitalize;
  position: relative;

  h2 {
    margin: 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
  }

  &::before {
    content: "";
    background: $primaryColor;
    width: 55px;
    height: 1px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

