@import "../styles/sass/variables";

.btn {
    display: flex;
    min-width: 120px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 14px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    &::after {
        content: '';
        position: absolute;
        width: 50%;
        height: 10px;
        background: $primaryColor;
        bottom: 0;
        transition: all 0.2s ease-in-out;
        z-index: -1;
    }
    &:hover {
      color: $textColor;
        &::after {
            width: 100%;
            height: 105%;
            transition: all 0.3s ease-in-out 0s;
        }
    }
}