@import "../styles/sass/variables";

.btn {
    display: flex;
    min-width: 120px;
    height: 50px;
    background-color: $bgDarkColor;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 14px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}