.mainBlock {
    min-height: 100vh;
    background-color: #fccde6;
}

.text {
    width: 300px;
    background-color: #a8d4ef;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #fff2aa;
}