.progectBlock {
    background-color: #1d1b19;
}

.progectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    background-color: aliceblue;
}

.progects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 755px) {
    .progects{
        justify-content: center;
    }
}