@import "../common/styles/sass/mixin";

.skill {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .icon {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-color: $bgGreyColor;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0.4;
    }
  }

  .descriptionContainer {
    padding-top: 30px;
    text-align: center;

    .title {
      @include text($titleFontFamily, 1.2, 16px);
    }

    .description {
      @include text($textFontFamily, 1.8, 14px);
    }
  }
}




