@import "../common/styles/sass/mixin";

.navBlock {
  width: 300px;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    @include text($titleFontFamily, 1.8, 16px);
    color: $primaryColor;
  }
}