@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixin";


.footerBlock {
  display: flex;
  flex-direction: column;
  background-color: #1f1f20;
  padding: 40px 0;
  justify-content: center;
  align-items: center;

  .title {
    @include text($titleFontFamily, 1.8, 14px);
    margin: 0 0 20px;


    h2 {
      margin: 0;
    }
  }

  .footerText {
    @include text($textFontFamily, 1.8, 14px);
    color: #696b6f;
    margin-top: 20px;
  }

  .iconBlock {
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon {
      width: 50px;
      height: 50px;
      background-size: cover;
      background-position: center;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        background-color: $bgGreyColor;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0.4;
      }
    }
  }
}


